*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* grey background in top right corner */
/* 
background-color: hsl(207, 33%, 95%);
background-size: 200px, 200px;
background-position: 100% 0%;
background-attachment: fixed; */
/* grey background in top right corner */


body {
  font-size: 18px;
  color: hsl(230, 29%, 20%);
  font-family: 'Barlow' sans-serif;
}

.wrapper {
  display: grid;
  padding: 0;
  margin: 0;
  height: 100vh;
  grid-gap: 20px;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-template-rows: 1fr 1fr 6fr 1fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding: 5px;
  margin: 0 100px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
}

/* NAVIGATION */
.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header li {
  display: inline-block;
  padding: 30px 30px;
  text-transform: uppercase;
}

.logo {
  margin-right: auto;
}

.product {
  
}

.features {
  
}

.pricing {
  
}

.circle {
  color: hsl(231, 7%, 65%);
}

.login {
  color: hsl(231, 7%, 65%);
}

/* CONTENT */
.content-wrapper {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  justify-self: start;
  align-self: start;
  padding: 20px 0;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  justify-items: start;
  align-items: center;
}

.subheader {
  place-self: end start;
}


.subheader h3 {
  background-color: hsl(230, 29%, 20%);
  color: hsl(207, 33%, 95%);
  display: inline-block;
  border-radius: 15px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

.subheader span {
  text-transform: uppercase;
  color: hsl(231, 7%, 65%);
  font-weight: 400;
  align-self: stretch;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  padding-left: 10px;
  letter-spacing: 3px;
  text-shadow: 1px hsl(230, 29%, 20%);
}

.illustration {
  grid-row: 3 / 4;
  grid-column: 7 / 12;
  justify-self: start;
  padding-left: 30px;
}
h1 {
  grid-row: 2 / 4;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 340%;
  line-height: 95%;
}
.description {
  text-overflow: clip;
  padding-right: 45%;
  color: hsl(230, 11%, 40%);
  place-self: end;
}

.cta {
  grid-row: 6 / 7;
  justify-self: start;
  align-self: start;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
}

.cta button {
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  background-color: hsl(0, 100%, 68%);
  color: hsl(207, 33%, 95%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

.cta p {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 15px;
  color: hsl(231, 7%, 65%);
  letter-spacing: 3px;
  text-shadow: 1px hsl(230, 29%, 20%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}



/*  */