*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-shade {
  z-index: -9999;
  background-color: hsl(207, 33%, 95%);
  grid-column: 7 / -1;
  grid-row: 1 / 4;
  height: 62%;
  border-bottom-left-radius: 22%;
}

body {
  font-size: 18px;
  color: hsl(230, 29%, 20%);
  font-family: 'Barlow' sans-serif;
}

.wrapper {
  display: grid;
  padding: 0;
  margin: 0;
  height: 97vh;
  grid-gap: 20px;
  grid-template-columns: repeat(12, minmax(40px, 1fr));
  grid-template-rows: 1fr 1fr 6fr 1fr;
  overflow: hidden;
}

#close {
  display: none;
}
#hamburger {
  display: none;
}
/* MOBILE GRID */
@media only screen and (max-width: 820px) {
  #hamburger {
    display: inline-block;
  }
  .menu {
    display: none;
  }
}

/* .header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
} */

#logo {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
}

#logo:active,
#logo:hover {
  cursor: pointer;
}

/* NAVIGATION */
.menu {
  grid-row: 1 / 2;
  grid-column: 8 / 12;
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-rows: 120px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
}

.menu li {
  display: inline-block;
  padding: 50px 0px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.menu li:active,
.menu li:hover {
  cursor: pointer;
  text-decoration: underline hsl(230, 29%, 20%);
}

.product {
  grid-column: 14 / 16;
}

.features {
  grid-column: 17 / 19;

}

.pricing {
  grid-column: 19 / 21;
}

.circle {
  color: hsl(231, 7%, 65%);
  font-size: 20px;
  margin-bottom: 10px;
  grid-column: 21 / 22;
  margin-right: 15px;
  transition: all 0.2s;
}

.circle:active,
.circle:hover {
  text-decoration: none !important;
  color: hsl(230, 29%, 20%);
}

.login {
  color: hsl(231, 7%, 65%);
  grid-column: 22 / 24;
  transition: all 0.2s;
}

.login:active,
.login:hover {
  color: hsl(230, 29%, 20%);
}

/* CONTENT */
.content-wrapper {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  justify-self: start;
  align-self: start;
  padding: 20px 0;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  justify-items: start;
  align-items: center;
}

.subheader {
  place-self: end start;
}


.subheader h3 {
  background-color: hsl(230, 29%, 20%);
  color: hsl(207, 33%, 95%);
  display: inline-block;
  border-radius: 15px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

.subheader span {
  text-transform: uppercase;
  color: hsl(231, 7%, 65%);
  font-weight: 400;
  align-self: stretch;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  padding-left: 10px;
  letter-spacing: 3px;
  text-shadow: 1px hsl(230, 29%, 20%);
}

.illustration {
  grid-row: 3 / 4;
  grid-column: 7 / 12;
  justify-self: start;
  padding-left: 40px;
}
h1 {
  grid-row: 2 / 4;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 340%;
  line-height: 95%;
}
.description {
  text-overflow: clip;
  padding-right: 45%;
  color: hsl(230, 11%, 40%);
  place-self: end;
}

.cta {
  grid-row: 6 / 7;
  justify-self: start;
  align-self: start;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
}

.cta button {
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  background-color: hsl(0, 100%, 68%);
  color: hsl(207, 33%, 95%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  transition: background-color 0.2s;
}

.cta button:active,
.cta button:hover {
  cursor: pointer;
  background-color: hsl(0, 98%, 59%);
}

.cta p {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 15px;
  color: hsl(231, 7%, 65%);
  letter-spacing: 3px;
  text-shadow: 1px hsl(230, 29%, 20%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}


